<!doctype html>
{% load static %}
<html>
<head><meta charset="utf-8"><title>Alunos</title><link rel="stylesheet" href="{% static 'nota/listar.css' %}"></head>
<body>
  <h1>Alunos</h1>
  <p><a href="{% url 'nota:criar_aluno' %}">Criar novo aluno</a></p>
  <table>
    <tbody>
        <tr>
            <td>Nome</td>
            <td>Nota 1</td>
            <td>Nota 2</td>
            <td>Média</td>
        </tr>
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.nota1 }}</td>
            <td>{{ aluno.nota2 }}</td>
            <td>{{ aluno.media|floatformat:1 }}</td>
        </tr>
        {% empty %}
            <li>Nenhum aluno cadastrado.</li>
        {% endfor %}
    </tbody>
  </table>
 
</body>
</html>
